<?xml version="1.0" encoding="UTF-8"?>

<Settings>
  <version value="27" />
  <configSource>SMC_AUTO</configSource>
  <graphics>
    <Tessellation value="0" />
    <LodScale value="-1.550000" />
    <PedLodBias value="-1.000000" />
    <VehicleLodBias value="-0.500000" />
    <ShadowQuality value="0" />
    <ReflectionQuality value="0" />
    <ReflectionMSAA value="0" />
    <SSAO value="0" />
    <AnisotropicFiltering value="0" />
    <MSAA value="0" />
    <MSAAFragments value="0" />
    <MSAAQuality value="0" />
    <SamplingMode value="0" />
    <TextureQuality value="0" />
    <ParticleQuality value="0" />
    <WaterQuality value="0" />
    <GrassQuality value="0" />
    <ShaderQuality value="0" />
    <Shadow_SoftShadows value="0" />
    <UltraShadows_Enabled value="false" />
    <Shadow_ParticleShadows value="false" />
    <Shadow_Distance value="-1.000000" />
    <Shadow_LongShadows value="false" />
    <Shadow_SplitZStart value="-1.000000" />
    <Shadow_SplitZEnd value="-1.000000" />
    <Shadow_aircraftExpWeight value="-1.000000" />
    <Shadow_DisableScreenSizeCheck value="false" />
    <Reflection_MipBlur value="false" />
    <FXAA_Enabled value="false" />
    <TXAA_Enabled value="false" />
    <Lighting_FogVolumes value="false" />
    <Shader_SSA value="false" />
    <DX_Version value="0" />
    <CityDensity value="-1.000000" />
    <PedVarietyMultiplier value="-1.000000" />
    <VehicleVarietyMultiplier value="-1.000000" />
    <PostFX value="0" />
    <DoF value="false" />
    <HdStreamingInFlight value="false" />
    <MaxLodScale value="-1.260000" />
    <MotionBlurStrength value="0.000000" />
  </graphics>
  <system>
    <numBytesPerReplayBlock value="0000000" />
    <numReplayBlocks value="00" />
    <maxSizeOfStreamingReplay value="0000" />
    <maxFileStoreSize value="00000" />
  </system>
  <audio>
    <Audio3d value="false" />
  </audio>
  <video>
    <AdapterIndex value="0" />
    <OutputIndex value="0" />
    <ScreenWidth value="852" />
    <ScreenHeight value="480" />
    <RefreshRate value="60" />
    <Windowed value="1" />
    <VSync value="2" />
    <Stereo value="0" />
    <Convergence value="0.000000" />
    <Separation value="0.000000" />
    <PauseOnFocusLoss value="1" />
    <AspectRatio value="0" />
  </video>
  <VideoCardDescription>VIDEO CARD NAME HERE</VideoCardDescription>
</Settings>